:root {
  --soft-blue: hsl(215, 51%, 70%);
  --cyan: hsl(178, 100%, 50%);
  --very-dark-bluel: hsl(217, 54%, 11%);
  --very-dark-bluee: hsl(216, 50%, 16%);
  --very-dark-bluet: hsl(215, 32%, 27%);
  --white: hsl(0, 0%, 100%);
}
body {
  background-color: var(--very-dark-bluel);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  width: 50%;
  height: 75%;
  background-color: var(--very-dark-bluee);
  padding: 15px;
  border-radius: 10px;
  box-shadow: 10px 10px 10px 10px var(--very-dark-bluet);
}
p {
  color: var(--soft-blue);
  font-family: monospace;
}
h4 {
  color: var(--white);
}
article {
  display: flex;
  align-items: center;
}
.hr {
  color: var(--very-dark-bluet);
}
.text {
  color: var(--white);
}
.avatar {
  width: 10%;
}
.equilibrium {
  width: 100%;
  border-radius: 10px 10px 0 0;
}
.left {
  color: var(--cyan);
}
.right {
  color: var(--soft-blue);
}
section {
  display: flex;
  justify-content: space-between;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
@media  only screen and (max-width:600px) {
  body{
    
      background-color: var(--very-dark-bluel);
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      height: 100vh;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .container {
      width: 60%;
      height: 75%;
      background-color: var(--very-dark-bluee);
      padding: 15px;
      border-radius: 10px;
      box-shadow: 10px 10px 10px 10px var(--very-dark-bluet);
    }
    p {
      color: var(--soft-blue);
      font-family: monospace;
    }
    h4 {
      color: var(--white);
    }
    article {
      display: flex;
      align-items: center;
    }
    .hr {
      color: var(--very-dark-bluet);
    }
    .text {
      color: var(--white);
    }
    .avatar {
      width: 10%;
    }
    .equilibrium {
      width: 100%;
      border-radius: 10px 10px 0 0;
    }
    .left {
      color: var(--cyan);
    }
    .right {
      color: var(--soft-blue);
    }
    section {
      display: flex;
      justify-content: space-between;
    }
    .attribution {
      font-size: 11px;
      text-align: center;
    }
    .attribution a {
      color: hsl(228, 45%, 44%);
    }
  }

@media  only screen and (min-width:600px) {
  body {
    background-color: var(--very-dark-bluel);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .container {
    width: 0%;
    height: 80%;
    background-color: var(--very-dark-bluee);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px 10px var(--very-dark-bluet);
  }
  p {
    color: var(--soft-blue);
    font-family: monospace;
  }
  h4 {
    color: var(--white);
  }
  article {
    display: flex;
    align-items: center;
  }
  .hr {
    color: var(--very-dark-bluet);
  }
  .text {
    color: var(--white);
  }
  .avatar {
    width: 10%;
  }
  .equilibrium {
    width: 100%;
    border-radius: 10px 10px 0 0;
  }
  .left {
    color: var(--cyan);
  }
  .right {
    color: var(--soft-blue);
  }
  section {
    display: flex;
    justify-content: space-between;
  }
  .attribution {
    font-size: 11px;
    text-align: center;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  }
}
@media  only screen and(min-width:700px){
  body{
    background-color: var(--very-dark-bluel);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .container{
    width: 60%;
    height: 80%;
    background-color: var(--very-dark-bluee);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px 10px var(--very-dark-bluet);
  }
}
@media  only screen and (min-width:736px) {
  body {
    background-color: var(--very-dark-bluel);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .container {
    width: 60%;
    height: 80%;
    background-color: var(--very-dark-bluee);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px 10px var(--very-dark-bluet);
  }
  p {
    color: var(--soft-blue);
    /* font-family: monospace; */
  }
  h4 {
    color: var(--white);
  }
  article {
    display: flex;
    align-items: center;
  }
  .hr {
    color: var(--very-dark-bluet);
  }
  .text {
    color: var(--white);
  }
  .avatar {
    width: 10%;
  }
  .equilibrium {
    width: 100%;
    height: 50%;
    border-radius: 10px 10px 0 0;
  }
  .left {
    color: var(--cyan);
  }
  .right {
    color: var(--soft-blue);
  }
  section {
    display: flex;
    justify-content: space-between;
  }
  .attribution {
    font-size: 11px;
    text-align: center;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  }
}
@media  only screen and (max-width:736px) {
  body {
    background-color: var(--very-dark-bluel);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .container {
    width: 50%;
    height: 80%;
    background-color: var(--very-dark-bluee);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px 10px var(--very-dark-bluet);
  }
  p {
    color: var(--soft-blue);
    /* font-family: monospace; */
  }
  h4 {
    color: var(--white);
  }
  article {
    display: flex;
    align-items: center;
  }
  .hr {
    color: var(--very-dark-bluet);
  }
  .text {
    color: var(--white);
  }
  .avatar {
    width: 10%;
  }
  .equilibrium {
    width: 100%;
    height: 50%;
    border-radius: 10px 10px 0 0;
  }
  .left {
    color: var(--cyan);
  }
  .right {
    color: var(--soft-blue);
  }
  section {
    display: flex;
    justify-content: space-between;
  }
  .attribution {
    font-size: 11px;
    text-align: center;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  }
}
@media  only screen and (min-width:966px) {
  body {
    background-color: var(--very-dark-bluel);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .container {
    width: 30%;
    height: 80%;
    background-color: var(--very-dark-bluee);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px 10px var(--very-dark-bluet);
  }
  p {
    color: var(--soft-blue);
    font-family: monospace;
  }
  h4 {
    color: var(--white);
  }
  article {
    display: flex;
    align-items: center;
  }
  .hr {
    color: var(--very-dark-bluet);
  }
  .text {
    color: var(--white);
  }
  .avatar {
    width: 10%;
  }
  .equilibrium {
    width: 100%;
    border-radius: 10px 10px 0 0;
  }
  .left {
    color: var(--cyan);
  }
  .right {
    color: var(--soft-blue);
  }
  section {
    display: flex;
    justify-content: space-between;
  }
  .attribution {
    font-size: 11px;
    text-align: center;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  }
}


