:root {
  --soft-blue: hsl(215, 51%, 70%);
  --cyan: hsl(178, 100%, 50%);
  --very-dark-bluel: hsl(217, 54%, 11%);
  --very-dark-bluee: hsl(216, 50%, 16%);
  --very-dark-bluet: hsl(215, 32%, 27%);
  --white: hsl(0, 0%, 100%);
}
body {
  background-color: var(--very-dark-bluel);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Outfit", sans-serif;
}
.container {
  width: 60%;
  background-color: var(--very-dark-bluee);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 5px 5px 10px var(--very-dark-bluet);
}
p {
  color: var(--soft-blue);
  line-height: 1.7;
  font-weight: 400;
}
h3 {
  color: var(--white);
  font-weight: 600;
}
.left,
.right {
  display: flex;
  align-items: center;
  font-weight: 600;
  color: var(--cyan);
}

.left img,
.right img {
  margin-right: 5px;
}

.right {
  font-weight: 400;
  color: var(--soft-blue);
}

hr {
  background-color: var(--very-dark-bluet);
  border: none;
  height: 1px;
}

.text {
  color: var(--white);
}

.avatar {
  width: 35px;
  border: 2px solid #fff;
  border-radius: 50%;
}

.equilibrium {
  width: 100%;
  border-radius: 10px 10px 0 0;
}

.user {
  display: flex;
  align-items: center;
}
.user img {
  margin-right: 5px;
}

.user .username {
  margin-right: auto;
}

section {
  display: flex;
  justify-content: space-between;
}

@media screen and (min-width: 520px) {
  .container {
    max-width: 280px;
  }
}
